<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="category">
                <div class="category-bar">
                    <div class="category-one">
                    <a class="category-top" href="/blancos/">Blancos</a>                           
                    </div>
                    <div class="subcategories">
                        <a class="sub" href="/blancos/chardonnay/">Chardonnay</a>
                        <a class="sub" href="/blancos/chenninBlanc/">Chennin</a>
                        <a class="sub" href="/blancos/cosechaTardia/">Cosecha Tardía</a> 
                        <a class="sub" href="/blancos/sauvignonBlanc/">Sauvignon Blanc</a>
                        <a class="sub" href="/blancos/torrontes/">Torrontes</a>
                        <a class="sub" href="/blancos/sauvignonBlanc/">Sauvignon Blanc</a>                      
                    </div>
                </div>
                <div class="filter">
                    <div class="qtyProducts">20 productos</div>
                        <div>
                            <button class="buttonFilter">
                                <span>Ordenar </span><i class="fas fa-sort-amount-up"></i>
                            </button>
                            <button class="buttonFilter">
                                <span>Filtrar </span><i class="fas fa-sliders-h"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--CODIGO DE GONZA-->
        
        <section class="featured">
            <div class="add">
                <button>AGREGAR</button>
            </div>
            <article class="carrusel">
                <% products.forEach((product)=>{ %>
                <div class="articulos">
                    <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DanteRobinoChardonnay.png" alt="vinito"></div>
                    <p class="nombre-vino"><%= product.name%><br>Reserva Malbec</p>
                    <p class="precio-vino"><%= product.price%></p>
                    <span class="add-buttonn">
                        <a href="products/edit/:id"><button>
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button></a>
                        <a href="/products/:id"><button>
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        </button></a>
                    </span>
                </div>
                <% }) %>
            </article>
           
        </section>
        <!--TERMINA CODIGO DE GONZA-->
    </main>

    <%- include ('../partials/footer') %>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>