<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title:'Crear un nuevo producto'})%>

<body>

    <%- include('../partials/header')%>

    <main>
        <div class="products-add-top">
            <h2>AGREGAR PRODUCTO</h2>
        </div>
        <div class="products-add-main">
            <div class="title-line"></div>

            <form action="/admin/products" method="POST" class="products-add-form">

                <div class="form-element">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" placeholder="Ej: Reloj" required>
                </div>

                <div class="form-element">
                    <label for="description">Descripción:</label>
                    <textarea name="description" id="description" placeholder="Ej:" required></textarea>
                </div>

                <h4>IMÁGENES</h4>

                <div class="form-element-group">
                    <div class="flex-group">
                        <label for="image-cover">Principal</label>
                        <input type="file" name="image-cover" accept="image/png, image/jpeg">
                    </div>
                    <!-- <div class="flex-group">
                        <label for="images">Adicionales</label>
                        <input type="file" name="images" accept="image/png, image/jpeg" multiple>
                    </div> -->
                </div>

                <div class="form-element">
                    <label for="sku">Código / SKU:</label>
                    <input type="text" class="control" name="sku" id="sku">
                </div>

                <div class="form-element">
                    <label for="color">Color:</label>
                    <input type="color" class="control" name="color" id="color">
                </div>

                <div class="form-element">
                    <label for="price">Precio:</label>
                    <input type="number" name="price" id="price" value=0 required>
                </div>

                <div class="form-element">
                    <label for="discount">Descuento:</label>
                    <input type="number" name="discount" id="discount" value=0>
                </div>

                <div class="form-element">
                    <label for="categories">Categorías...</label>
                    <select id="select-state" name="categories" multiple autocomplete="off">

                        <% for (let category of categories) {%>
                            <option value="<%=category.name%>"><%=category.label%></option>
                            <% } %>
    
                    </select>                    
                </div>

                <h4>CATEGORÍAS</h4>

                <div class="form-element-group">
                    <% for (let category of categories) {%>
                        <label for="<%=category.name%>"><input type="checkbox" name="<%=category.name%>">
                            <%=category.label%>
                        </label>
                        <% } %>
                </div>


                <button type="submit" class="form-button form-button-primary">AGREGAR PRODUCTO</button>
            </form>
        </div>
    </main>

    <%- include ('../partials/footer') %>
    <script src="/js/tom-select.complete.js"></script>
    <script>
        new TomSelect("#select-state",{
            plugins: {
		remove_button:{
			title:'Remove this item',
		}
    },
	maxItems: 5
});
    </script>
</body>

</html>