<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title:'Crear un nuevo producto'})%>

<body>

    <%- include('../partials/header-admin')%>

    <main>        
        <div class="title-admin">
            <h2>AGREGAR PRODUCTO</h2>
        </div>
        <div class="products-add-main">
            <form action="/admin/products/add" method="POST" class="products-add-form" enctype="multipart/form-data">
                <div class="errores">
                    <ul></ul>
                </div>
                <div class="form-element">
                    <label for="sku">SKU:</label>
                    <input type="text" class="control" name="sku" id="sku">
                    <% if (locals.errors && errors.sku) { %>
                        <div class="danger">
                        <%= errors.sku.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" class="name" placeholder="Luigi Bosca Malbec 750">
                    <% if (locals.errors && errors.name) { %>
                        <div class="danger">
                        <%= errors.name.msg %>
                        </div>
                       <% } %>
                </div>

                <div class="form-element">
                    <label for="description">Descripción:</label>
                    <textarea name="description" id="description" placeholder="..."></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class="danger">
                        <%= errors.description.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="price">Precio:</label>
                    <input type="text" name="price" id="price">
                    <% if (locals.errors && errors.price) { %>
                        <div class="danger">
                        <%= errors.price.msg %>
                        </div>
                       <% } %>
                </div>

                <div class="form-element">
                    <label for="discount">Descuento:</label>
                    <input type="text" name="discount" id="discount">
                    <% if (locals.errors && errors.discount) { %>
                        <div class="danger">
                        <%= errors.discount.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="category_id"><h4>CATEGORÍAS</h4></label>
                    <select  name="category_id" autocomplete="off">
                        <% for (let cat of category) {%>
                            <option value="<%=cat.name%>"><%=cat.name%></option>
                            <% } %>    
                    </select>
                    <% if (locals.errors && errors.category_id) { %>
                        <div class="danger">
                        <%= errors.category_id.msg %>
                        </div>
                       <% } %>
                </div>

                <h4>IMÁGENES</h4>

                <div class="form-element-group">
                    <div class="flex-group">
                        <label for="image">Principal</label>
                        <input type="file" name="image" id="image" accept="image/png, image/jpeg">
                    </div>
                </div>
                <% if (locals.errors && errors.image) { %>
                    <div class="danger">
                    <%= errors.image.msg %>
                    </div>
                   <% } %>


                <div class="edit-buttons">
                    <button type="submit" class="form-button form-button-primary">AGREGAR PRODUCTO</button>
                <a href="/admin/products/list" class="form-button form-button-secondary">CANCELAR</a>
                </div>

            </form>
        </div>
    </main>

    <%- include ('../partials/footer') %>
    <script src="/js/productFormValidation.js"></script>

</body>

</html>
