<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{title:"Editar producto"})%>



<body>

    <%- include('../partials/header-admin')%>

    <main>
        <div class="products-edit-top">
            <h2>EDITAR PRODUCTO : <%= product.name %></h2>
        </div>
        <div class="products-edit-main">
            <div class="title-line"></div>

            <form action="/admin/products/edit/<%=product.id%>" method="POST" class="products-edit-form" enctype="multipart/form-data">

                <div class="form-element">
                    <label for="id">Id:</label>
                    <input type="text" name="id" id="id" readonly value="<%= product.id %>">
                    <% if (locals.errors && errors.id) { %>
                        <div class="danger">
                        <%= errors.id.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="sku">Código / SKU:</label>
                    <input type="text" class="control" name="sku" id="sku" value="<%= product.sku %>">
                    <% if (locals.errors && errors.sku) { %>
                        <div class="danger">
                        <%= errors.sku.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="name">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Ej: Nicasia Red Blend 75cl" value="<%= product.name %>">
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="danger">
                        <%= errors.nombre.msg %>
                        </div>
                       <% } %>
                </div>

                <div class="form-element">
                    <label for="description">Descripción:</label>
                    <textarea name="description" id="description" placeholder="Este producto es..."><%= product.description %>"</textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div class="danger">
                        <%= errors.description.msg %>
                        </div>
                       <% } %>
                </div>

                <div class="form-element">
                    <label for="price">Precio:</label>
                    <input type="number" name="price" id="price" value="<%= product.price %>">
                    <% if (locals.errors && errors.price) { %>
                        <div class="danger">
                        <%= errors.price.msg %>
                        </div>
                       <% } %>
                </div>

                <div class="form-element">
                    <label for="discount">Descuento:</label>
                    <input type="number" name="discount" id="discount" value="<%= product.discount %>">
                </div>

                <div class="form-element">
                    <label for="category_id"><h4>CATEGORÍAS</h4></label>
                    <select id="category_id" name="category_id" autocomplete="off">

                            <% for( let i = 0; i < category.length; i++ ) { %>
                                <% if (category[i].name == product.category_id) { %>             
                                    <option value="<%=category[i].id%>" selected><%=category[i].name%></option>            
                                <% } else { %>
                                    <option value="<%=category[i].id%>"><%=category[i].name%></option>            
                                <% } %>
                            <% } %>
                        
                    </select>                    
                </div>

                <h4>IMAGEN</h4>

                <div class="form-element-group">
                    <div class="flex-group">
                        <div>
                            <img src="<%='/img/products/' + product.image %>" alt="imágen del producto" srcset="" height=150>
                                <input type="file" name="image" id="image" accept="image/png, image/jpeg">
                            </div>
                    </div>
                </div>
                <% if (locals.errors && errors.image) { %>
                    <div class="danger">
                    <%= errors.image.msg %>
                    </div>
                   <% } %>
                    <div class="edit-buttons">
                    <button type="submit" class="form-button form-button-primary">GUARDAR</button>
                    <button type="reset" class="form-button form-button-secondary">RESTABLECER</button>
                    <a href="/admin/products/list" class="form-button form-button-secondary">CANCELAR</a>
                </div>
            </form>
        </div>
    </main>

    <%- include ('../partials/footer') %>
        
</body>

</html>
