<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="articulo">
                <div class="fondo-imagen"><img class="imagen-vino-portada" src="/img/products/<%= productDetail.image %>" alt="vinito"></div>
                <div class="info-vino">
                <p class="sku"><%= productDetail.sku %></p>
                <p class="nombre"><%= productDetail.name %></p>
                <p class="descripcion"><%= productDetail.description %></p>
                <p class="precio"><%= productDetail.price %></p>
                <p class="discount"><%= productDetail.discount %></p>

                <div class="carrito">
                    <button class="minus">-</button>
                    <input type="text" value="1" id="quantity">
                    <button class="plus">+</button> 
                </div>

                <div class="add-buttonn">
                    <a href="/cart"><button class="fas fa-cart-plus">AGREGAR</button></a>
                </div>
            </div>
    </article>
    
    </main>

    <%- include ('../partials/footer') %>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>