<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="articulo">
                <div class="fondo-imagen"><img class="imagen-vino-portada" src="/img/homeParte2/NovecentoRosado.png" alt="vinito"></div>
                <div class="info-vino">
                <p class="nombre"><%= product.name %></p>
                <p class="codigo">Código SKU</p>
                <p class="descripcion"><%= product.description %></p>
                <p class="precio"><%= product.price %></p>
                <div class="carrito">
                    <i class="fas fa-minus-circle"></i><i class="far fa-square"></i><i class="fas fa-plus-circle"></i>
                </div>
                <div class="add-buttonn">
                    <button class="fas fa-cart-plus">AGREGAR</button></div>
                </div>
            </div>
    </article>
    <section class="featured">
        <h2 class="featured-title">PRODUCTOS RELACIONADOS</h2>
        <article class="relations">
            <div class="articulo1">
                <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DanteRobinoChardonnay.png" alt="vinito"></div>
                <p class="nombre-vino">Vino Dante Robino<br>Reserva Malbec</p>
                <p class="precio-vino">$2000</p>
                <span class="add-buttonn">
                    <button class="fas fa-cart-plus">AGREGAR</button> 
                </span>
            </div>
            <div class="articulo1">
                <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DanteRobinoExtraBrut.png" alt="vinito"></div>
                <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
                <p class="precio-vino">$2000</p>
                <span class="add-buttonn">
                    <button class="fas fa-cart-plus">AGREGAR</button> 
                </span>
            </div>
            <div class="articulo1">
                <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/DRReservaMalbec.png" alt="vinito"></div>
                <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
                <p class="precio-vino">$2000</p>
                <span class="add-buttonn">
                    <button class="fas fa-cart-plus">AGREGAR</button> 
                </span>
            </div>
            <div class="articulo1">
                <div class="fondo"><img class="imagen-vino" src="/img/homeParte2/NovecentoRosado.png" alt="vinito"></div>
                <p class="nombre-vino">Vino Dante Robino<br>Extra Brut</p>
                <p class="precio-vino">$2000</p>
                <span class="add-buttonn">
                    <button class="fas fa-cart-plus">AGREGAR</button> 
                </span>
            </div>    
        </article>
    </section>    
    </main>

    <%- include ('../partials/footer') %>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>