<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="articulo">
                <div class="fondo-imagen"><img class="imagen-vino-portada" src="/img/products/<%= productDetail.image %>" alt="vinito"></div>
                <div class="info-vino">
                <p class="sku"><%= productDetail.sku %></p>
                <p class="nombre" id="nombre"><%= productDetail.name %></p>
                <p class="descripcion" id="descripcion"><%= productDetail.description %></p>
                <p class="precio" id="precio">$<%= productDetail.price %></p>
                <p class="discount" id="discount"><%= productDetail.discount %></p>

                <div class="carrito">
                    <button class="minus" onclick="menos()">-</button>
                    <input type="text" value="1" id="quantity">
                    <button class="plus" onclick="mas()">+</button> 
                </div>

                <div class="add-buttonn">
                    <a href="/cart"><button type="submit" class="fas fa-cart-plus" id="agregar">AGREGAR</button></a>
                </div>
            </div>
    </article>
    
    </main>

    <%- include ('../partials/footer') %>

    
    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
<script src="/js/contador.js"></script>
<script src="/js/agregarProducto.js"></script>
</body>

</html>