<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header')%>

    <main>
        <article>
            <div class="articulo">
                <div class="fondo-imagen"><img class="imagen-vino-portada" src="/img/products/<%= product.image %>" alt="vinito"></div>
                <div class="info-vino">
                <p class="sku"><%= product.sku %></p>
                <p class="nombre"><%= product.nombre %></p>
                <p class="descripcion"><%= product.descripcion %></p>
                <p class="precio"><%= product.precio %></p>
                <p class="discount"><%= product.discount %></p>

                <div class="carrito">
                    <button class="minus">-</button>
                    <input type="text" value="1" id="quantity">
                    <button class="plus">+</button> 
                </div>

                <div class="add-buttonn">
                    <a href="/orders/cart"><button class="fas fa-cart-plus">AGREGAR</button></a>
                </div>
            </div>
    </article>
    <section class="relevant">
        <h2 class="featured-title">PRODUCTOS RELACIONADOS</h2>
        
        <article class="carousel">
            
            <% result.forEach((product)=>{ %> 
            
            <div class="articuloX">
               
                <div class="fondo">
                    <img class="imagen-vino" src="img/products/<%= product.image %>" alt="vinito"></div>
                <p class="nombre-vino"><%= product.nombre %></p>
                <p class="precio-vino"><%= product.precio %></p>
                <a href="../orders/cart"><span class="add-buttonn">
                    <button class="fas fa-cart-plus"> AGREGAR</button> 
                </span></a>
            </div>
            <% }) %>   
          
        </article>
        
    </section>
    </main>

    <%- include ('../partials/footer') %>

    <script>
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "55vw";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

</html>