<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

    <body> 

        <%- include('../partials/header-admin')%>

            <main>
                <div>
                    <H2 class="title-admin">TODOS LOS PRODUCTOS</H2>
                </div>
                <div class="title-top">
                    <div class="add">
                        <a href="/admin"><button class="form-button">VOLVER</button></a>
                    </div>
                    <div class="add">
                        <a href="/admin/products/add"><button class="form-button">AGREGAR NUEVO
                                PRODUCTO</button></a>
                    </div>
                </div>
                <section class="container">

                    <% products.forEach((product)=>{ %>
                        <div class="articulos">
                            <div class="fondo"><img class="imagen-vino" src="/img/products/<%= product.image ? product.image : 'img-botella.png'  %>"
                                    alt="img-botella"></div>
                            <p class="nombre-vino">
                                <%= product.name%><br>
                            </p>
                            <p class="precio-vino">$<%= product.price%>
                            </p>

                            <div class="edit-buttons">
                                <a href="/admin/products/edit/<%= product.id%>"><button title="Editar..."
                                        class="form-button form-button-secondary">
                                        <i class="fa fa-pen" aria-hidden="true"></i></button></a>

                                <form action="/admin/products/<%= product.id %>?_method=DELETE" method="POST">
                                    <button title="Eliminar" type="submit" class="form-button form-button-primary">
                                        <i class="fa fa-trash" aria-hidden="true"></i></button></a>
                                </form>
                            </div>
                        </div>
                    <% }) %>

                </section>
            </main>

            <%- include ('../partials/footer') %>

    </body>

</html>