<section class="relevant">
    <h2 class="featured-title">DESTACADOS</h2>
    
    <article class="carousel">
        
        <% product.forEach((product)=>{ %> 
        
        <div class="articuloX">
            <a href="../products/<%= product.id %>">
            <div class="fondo">
                <img class="imagen-vino" src="img/products/<%= product.image %>" alt="vinito"></div>
            <p class="nombre-vino"><%= product.name %></p>
            <p class="precio-vino">$<%= product.price %></p>
            <div class="edit-buttons">
                <a href="/products/<%= product.id%>"><button title="Detalles..."
                        class="form-button form-button-secondary">
                        <i class="fa fa-eye"></i></button></a>
            </div>
           </a>
        </div>
        <% }) %>   
      
    </article>
    
</section>
