<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{title:"Editar usuario"})%>

<body>

    <%- include('../partials/header-admin')%>

    <main>
        <div class="products-edit-top">
            <h2>EDITAR Usuario : <%= user.email %></h2>
        </div>
        <div class="products-edit-main">
            <div class="title-line"></div>

            <form action="/admin/products?_method=PUT" method="POST" class="products-edit-form" enctype="multipart/form-data">

                <div class="form-element">
                    <label for="id">Id:</label>
                    <input type="text" name="id" id="id" readonly value="<%= user.id %>">
                </div>

                <div class="form-element">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="apellido" required value="<%= user.name %>">
                </div>

                <div class="form-element">
                    <label for="lastname">Apellido:</label>
                    <input type="text" name="lastname" id="lastname"required value="<%= user.lastname %>">
                </div>

                <div class="form-element">
                    <label for="dni">DNI:</label>
                    <input type="text" name="dni" id="dni"required value="<%= user.dni %>">
                </div>
                <div class="form-element">
                    <label for="address">Dirección:</label>
                    <input type="text" name="address" id="address"required value="<%= user.address %>">
                </div>
                <div class="form-element">
                    <label for="phone">Teléfono:</label>
                    <input type="text" name="phone" id="phone"required value="<%= user.phone %>">
                </div>

                <div class="form-element">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email"required value="<%= user.email %>">
                </div>
                <div class="form-element">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password"required value="<%= user.password %>">
                </div>
                <div class="form-element">
                    <label for="image">Imagen:</label>
                    <input type="image" name="image" id="image"required value="<%= user.image %>">
                </div>

                <div class="form-element">
                    <label for="group">Grupo:</label>
                    <input type="text" name="group" id="group"required value="<%= user.group_id %>">
                </div>



                    <div class="edit-buttons">
                    <button type="submit" class="form-button form-button-primary">GUARDAR</button>
                    <button type="reset" class="form-button form-button-secondary">RESTABLECER</button>
                    <a href="/users/list" class="form-button form-button-secondary">CANCELAR</a>
                </div>
            </form>
        </div>
    </main>


</body>

</html>
