<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>

    <%- include('../partials/header-admin')%>

    <main>
        
        <h2 class="titulo">Listado de usuarios</h2>
        <section>
            <table class="tabla">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Email</th>

                <th>Imagen</th>
                <th>Grupo</th>
            </tr>
            <% users.forEach((user)=>{ %>
                <tr>
                    <td><%= user.id %> </td>
                    <td><%= user.name %> </td>
                    <td><%= user.lastname %> </td>
                    <td><%= user.dni %> </td>
                    <td><%= user.address %> </td>
                    <td><%= user.phone %> </td>
                    <td><%= user.email %> </td>
     
                    <td><%= user.image %> </td>
                    <td><%= user.group_id %> </td>
                    <td>
                        <div class="edit-buttons">
                            <a href="/admin/users/edit/<%= user.id %>"><button title="Editar..." class="form-button form-button-secondary">
                            <i class="fa fa-pen" aria-hidden="true"></i></button></a>
                            
                            <form action="/admin/users/<%= user.id %>?_method=DELETE" method="POST">
                                <button title="Eliminar" type="submit" class="form-button form-button-primary">
                                <i class="fa fa-trash" aria-hidden="true"></i></button></a>
                            </form>
                        </div>
                    </div>
    
                    </td> <!-- Acciones, iconos que llevan a otras vistas -->
                </tr>
            <% }) %>
            </table>
        </section>
    </main>
</body>

</html>