<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>

    <%- include('../partials/header')%>

    <main>
        <section>
            <article>
            <div class="login-top">
                <h2>INICIAR SESIÓN</h2>
                <div class="line"></div>
            </div>
            <div class="login-main">
                <form action="/login" method="POST" class="login-form">
                    <div class="control-form">
                        <label for="e-mail">E-mail:<input type="e-mail" class="control" name="mail" id="e-mail" placeholder="Ej: hola@gmail.com" required></label>
                        <% if (locals.errors && errors.email) { %>
                            <div class="danger">
                            <%= errors.email.msg %>
                            </div>
                           <% } %>
                    </div>
                    <div class="control-form">
                        <label>Contraseña:<input  type="password" class="control" name="password" id="password" required><i class="fas fa-eye-slash"></i></label>
                        <% if (locals.errors && errors.password) { %>
                            <div class="danger">
                            <%= errors.password.msg %>
                            </div>
                           <% } %>
                    </div>
                    <div class="login-button">
                        <button type="submit">INGRESAR</button> 
                    </div>
                </form>
                <div class="login-end">
                    <div class="end">
                        <a href="/users/forgot-password">OLVIDE MI CONTRASEÑA </a>
                    </div>
                    <div class="end">
                        <a href="/users/register">CREAR CUENTA</a>
                    </div>
                </div>
            </div>
            <div class="admin-button">
                <a href="/admin/login"><button type="submit">ADMIN LOGIN</button></a>
            </div>
            </article>
        </section>
    </main>

    <%- include ('../partials/footer') %>

</body>

</html>