<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head',{title:"Editar usuario"})%>

<body>

    <%- include('../partials/header')%>

    <main>
        <div class="products-edit-top">
            <h2>EDITAR Usuario : <%= user.email %></h2>
        </div>
        <div class="products-edit-main">
            <div class="title-line"></div>

            <form action="/users/profile/edit/<%=user.id%>" method="POST" class="products-edit-form">   

               <div class="form-element">
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="apellido" value="<%= locals.oldData ? oldData.name : user.name %>">
                    <% if (locals.errors && errors.name) { %>
                        <div class="danger">
                        <%= errors.name.msg %>
                        </div>
                       <% } %>
                </div>

                <div class="form-element">
                    <label for="lastname">Apellido:</label>
                    <input type="text" name="lastname" id="lastname" value="<%= locals.oldData ? oldData.lastname : user.lastname %>">
                    <% if (locals.errors && errors.lastname) { %>
                        <div class="danger">
                        <%= errors.lastname.msg %>
                        </div>
                       <% } %>
                </div>

                <div class="form-element">
                    <label for="dni">DNI:</label>
                    <input type="text" name="dni" id="dni" value="<%= locals.oldData ? oldData.dni : user.dni %>">
                    <% if (locals.errors && errors.dni) { %>
                        <div class="danger">
                        <%= errors.dni.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="address">Dirección:</label>
                    <input type="text" name="address" id="address" value="<%= locals.oldData ? oldData.address : user.address %>">
                </div>
                <div class="form-element">
                    <label for="phone">Teléfono:</label>
                    <input type="text" name="phone" id="phone" value="<%= locals.oldData ? oldData.phone : user.phone %>">
                </div>

                <div class="form-element">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : user.email %>">
                    <% if (locals.errors && errors.email) { %>
                        <div class="danger">
                        <%= errors.email.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" id="password" value="<%= locals.oldData ? oldData.password : user.password %>">
                    <% if (locals.errors && errors.password) { %>
                        <div class="danger">
                        <%= errors.password.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form-element">
                    <label for="image">Imagen:</label>
                    <input type="image" name="image" id="image" value="/img/users/<%= user.image %>">
                    <% if (locals.errors && errors.image) { %>
                        <div class="danger">
                        <%= errors.image.msg %>
                        </div>
                       <% } %>
                </div>
                    <div class="edit-buttons">
                        <a href="/users/profile/" class="form-button form-button-secondary">CANCELAR</a>
                        <button type="reset" class="form-button form-button-secondary">RESTABLECER</button>
                        <button type="submit"  class="form-button form-button-primary">GUARDAR</button>
                    </div>
            </form>
        </div>
    </main>


</body>

</html>


