<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>


<body>

    <%- include('../partials/header')%>

    <main>
        <section class="section-profile">
            <div class="circular--landscape">
                <img src="/img/users/<%= locals.userLogged.image %> " alt="">
            </div>
            <h3>Perfil de Usuario</h3>
            <h3 class="fonts">Nombre y apellido: <%= locals.userLogged.name %> <%= locals.userLogged.lastname %> </h2>
            <h4 class="fonts">DNI: <%= locals.userLogged.dni %> </h2>
            <h4 class="fonts">Dirección: <%= locals.userLogged.address %> </h2>
            <h4 class="fonts">Télefono: <%= locals.userLogged.phone %> </h2>
            <h4 class="fonts">Email: <%= locals.userLogged.email %> </h2>
        </section>
        <section>
            <div class="add">
                <a href="/users/profile/edit/<%=locals.userLogged.id%>"><button class="form-button">EDITAR USUARIO</button></a>
            </div>
        </section>
    </main>

    <%- include ('../partials/footer') %>

</body>

</html>