<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head')%>

<body>

    <%- include('../partials/header')%>

    <main>
        <section>
            <h3>Perfil del usuario <%= locals.userLogged.nombre %> <%= locals.userLogged.apellido %> </h2>
            <h4>Email registrado : <%= locals.userLogged.mail %> </h2>

            <img src="/img/users/<%= locals.userLogged.image %> " alt="">
        </section>
    </main>

    <%- include ('../partials/footer') %>

</body>

</html>